<div class="container">

  <div class="page-header">
    <h1>Task List</h1>
  </div>

  <div class="row">
    <div class="col-md-12">

      <p>
        Please complete the following tasks during your shift:
      </p>

      <ul>
        <!-- Nothing yet. -->
      </ul>

    </div>
  </div>

</div>
